@model OnlineBill.Domain.Models.BillListViewModel
@using OnlineBill.Domain.Models

@{
    ViewData["Title"] = "Contas a pagar e receber";
}

<h1>Contas a pagar e receber</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-circle-fill"></i> Novo...</a>
</p>

<hr />

<div class="filter">
    <form method="post" class="row g-3">
        <div class="col-auto">
            <label asp-for="@Model.Filter.InitialDate" class="control-label">Data inicial:</label>
            <input asp-for="@Model.Filter.InitialDate" class="form-control" type="date" />
        </div>

        <div class="col-auto">
            <label asp-for="@Model.Filter.FinalDate" class="control-label">Data final:</label>
            <input asp-for="@Model.Filter.FinalDate" class="form-control" type="date" />
        </div>

        <div class="col-auto">
            <label asp-for="@Model.CheckingAccountList" class="control-label">Conta corrente:</label>
            <select asp-for="@Model.Filter.CheckingAccountId" class="form-control">
                <option value="@null"></option>
                @foreach (var item in Model.CheckingAccountList)
                {
                    <option value="@item.Id">@item.Description</option>
                }
            </select>
        </div>

        <div class="col-auto">
            <label asp-for="@Model.BillCategoryList" class="control-label">Categoria:</label>
            <select asp-for="@Model.Filter.CategoryId" class="form-control">
                <option value="@null"></option>
                @foreach (var item in Model.BillCategoryList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="col-auto" style="display: flex; align-items: flex-end;">
            <button class="btn btn-secondary"><i class="bi bi-funnel"></i> Filtrar</button>
        </div>
    </form>
</div>

<br /> <br />

@if (Model.BillList.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Data de vencimento
            </th>
            <th>
                Tipo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Categoria
            </th>
            <th>
                Contato
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BillList) {
        <tr>
            <td>
                @DateOnly.FromDateTime(item.DueDate).ToString()
            </td>
            <td>
                @if (item.Type == PayReceive.Pay)
                { <span>Pagar</span> }

                else
                { <span>Receber</span> }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @item.Value.ToString("C")
            </td>
            <td class="table-item-command">
                <a href="@Url.Action("Details", new { id = item.Id})"><i class="bi bi-card-list"></i></a> |
                <a href="@Url.Action("Edit", new { id = item.Id})"><i class="bi bi-pen"></i></a> |
                <a href="@Url.Action("Delete", new { id = item.Id})"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
}

<a asp-controller="App" asp-action="Home"><input type="button" value="Voltar" class="btn btn-dark" /></a>
