@model OnlineBill.Domain.Models.BillListViewModel
@using OnlineBill.Domain.Models

@{
    ViewData["Title"] = "Contas a pagar e receber";
}

<h1>Contas a pagar e receber</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-circle-fill"></i> Novo...</a>
</p>

<hr />

<div style="display: flex; justify-content: space-between;">
    <div class="filter">
        <form method="post" class="row g-3">
            <div class="col-auto">
                <label asp-for="@Model.Filter.InitialDate" class="control-label">Data inicial:</label>
                <input asp-for="@Model.Filter.InitialDate" class="form-control" type="date" />
            </div>

            <div class="col-auto">
                <label asp-for="@Model.Filter.FinalDate" class="control-label">Data final:</label>
                <input asp-for="@Model.Filter.FinalDate" class="form-control" type="date" />
            </div>

            <div class="col-auto">
                <label asp-for="@Model.CheckingAccountList" class="control-label">Conta corrente:</label>
                <select asp-for="@Model.Filter.CheckingAccountId" class="form-control">
                    <option value="@null">Todos</option>
                    @foreach (var item in Model.CheckingAccountList)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                </select>
            </div>

            <div class="col-auto">
                <label asp-for="@Model.BillCategoryList" class="control-label">Categoria:</label>
                <select asp-for="@Model.Filter.CategoryId" class="form-control">
                    <option value="@null">Todos</option>
                    @foreach (var item in Model.BillCategoryList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="col-auto" style="display: flex; align-items: flex-end;">
                <button class="btn btn-secondary"><i class="bi bi-funnel"></i> Filtrar</button>
            </div>
        </form>
    </div>
    <div>
        <a asp-controller="Report" asp-action="Index"><button class="btn btn-warning"><i class="bi bi-bar-chart-line-fill"></i> Relatório</button></a>
    </div>
</div>

<br /> <br />

@if (Model.BillList.Count() > 0)
{
<table class="table table-sort">
    <thead>
        <tr>
            <th class="undecorate-table-head" width="0px"></th>
            <th>
                Data de vencimento
            </th>
            <th>
                Tipo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Categoria
            </th>
            <th>
                Contato
            </th>
            <th>
                Valor
            </th>
            <th class="undecorate-table-head"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BillList) {
        <tr style="background-color: @((item.PaidValue != null || item.PaymentDate != null) ? "#0B06" : "inherit")">
            <td>
                @if (item.PaidValue == null || item.PaymentDate == null)
                {
                    @if ((item.DueDate - DateTime.Now).Days <= 14 && (item.DueDate - DateTime.Now).Days > 0)
                    {
                        <i class="bi bi-eye-fill"></i>
                    }
                    else if ((item.DueDate - DateTime.Now).Days <= 5 && (item.DueDate - DateTime.Now).Days > 0)
                    {
                        <i class="bi bi-clock-fill"></i>
                    }
                    else if ((item.DueDate - DateTime.Now).Days < 0)
                    {
                        <i class="bi bi-exclamation-circle-fill"></i>
                    }
                }
                else
                {
                    <i class="bi-check-circle-fill"></i>
                }
            </td>
            <td>
                @DateOnly.FromDateTime(item.DueDate).ToString()
            </td>
            <td>
                @if (item.Type == PayReceive.Pay)
                { <span>Pagar</span> }

                else
                { <span>Receber</span> }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @item.Value.ToString("C")
            </td>
            <td class="table-item-command">
                <a href="@Url.Action("Details", new { id = item.Id})"><i class="bi bi-card-list"></i></a> |
                <a href="@Url.Action("Edit", new { id = item.Id})"><i class="bi bi-pen"></i></a> |
                <a href="@Url.Action("Delete", new { id = item.Id})"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
}

<div class="buttons-at-end">
    <a asp-controller="App" asp-action="Index"><input type="button" value="Voltar" class="btn btn-dark" /></a>
</div>

<br />

<div id="totals" class="d-flex justify-content-end">
    <div class="d-flex justify-content-evenly w-50">
        <div class="row text-center text-white bg-dark border border-5 border-dark rounded">
                Total a vencer: <br /> @Model.TotalNotPaid.ToString("C")
        </div>
        <div class="row text-center text-danger bg-dark border border-5 border-dark rounded">
                Total já vencido: <br /> @Model.TotalExpiredNotPaid.ToString("C")
        </div>
        <div class="row text-center text-success bg-dark border border-5 border-dark rounded">
            Total já pago: <br /> @Model.TotalPaid.ToString("C")
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/sort_table.js"></script>
}
