@model IEnumerable<OnlineBill.Domain.Models.BillListItem>

@{
    ViewData["Title"] = "Contas a pagar e receber";
}

<h1>Contas a pagar e receber</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-circle-fill"></i> Novo...</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Tipo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Contato
            </th>
            <th>
                Categoria
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Type) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Description) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Contact) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Category) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Value.ToString("c")) *@
            @* </td> *@
            @* <td class="table-item-command"> *@
            @*     <a href="@Url.Action("Edit", new { id = item.Id})"><i class="bi bi-pen"></i></a> | *@
            @*     <a href="@Url.Action("Delete", new { id = item.Id})"><i class="bi bi-trash3-fill"></i></a> *@
            @* </td> *@
        </tr>
}
    </tbody>
</table>
<a asp-controller="App" asp-action="Home"><input type="button" value="Voltar" class="btn btn-dark" /></a>
